@import url(./declare.css);
@import url(./components.css);

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--font-family);
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--text-color-me);
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input {
    border: none;
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;

    background-color: var(--background-color-hi);
}

.header {
    padding: 1.6rem 2.4rem;
    border-bottom: 1px solid var(--accents-line);

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-hi);
}

.header__left {
    display: flex;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
}

.header__logo img {
    width: 3.2rem;
    height: 3.2rem;

    margin-right: 0.8rem;
}

.header__brand {
    color: var(--text-color-hi);
    font-size: 1.6rem;
}

.header__menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 4rem;
}

.header__menu i {
    font-size: 2.4rem;
}

.header__center {
    display: flex;
    align-items: center;
    border: 1px solid var(--accents-line);
    width: 36rem;
    border-radius: 0.5rem;
    padding: 0.6rem 0.6rem 0.6rem 1.2rem;
}

.header__search {
    display: flex;
    align-items: center;
}

.header__search i {
    font-size: 1.8rem;
    margin-right: 1.2rem;
}

.header__search input {
    flex: 1;
    width: 100%;

    display: flex;
    align-items: center;
    background-color: var(--background-color-hi);
    color: var(--text-color-hi);
    font-size: 1.2rem;
}

.header__search input::placeholder {
    color: var(--text-color-me);
}

.header__right {
    display: flex;
    align-items: center;
}

.header__navbar {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    border-right: 1px solid var(--accents-line);
}

.header__signup {
    margin-left: 2rem;
    margin-right: 1.2rem;
}

.header__avatar {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    background: var(--background-color-me);
    border: 1px solid var(--accents-line);
}
